[package]
name = "onet"
version = "0.6.4"
authors = ["Paulo <paulo@turboflakes.io>"]
description = "ONE-T is a performance report bot for the Polkadot and Kusama network with a special focus on the One Thousand validator programme" 
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dotenv = "0.15"
envy = "0.4"
log = "0.4"
clap = "2.33"
lazy_static = "1.4"
derive_more = "0.99"
async-recursion = "0.3.2"
serde = "1.0.132"
serde_json = "1.0.68"
thiserror = "^1.0.24"
chrono = "0.4"
regex = "1.4.6"
reqwest = { version = "0.11", features = ["json", "blocking", "multipart"] }
url = "2.2.2"
base64 = "0.13.0"
rand = "0.8.4"
quote = "1.0.10"
flate2 = "1.0"
# subxt dependencies
# subxt = { version = "0.20.0", git = "https://github.com/paritytech/subxt" }
subxt = { rev = "dffeee43", git = "https://github.com/paritytech/subxt" }
# NOTE: sp-consensus-babe is needed to be able to decode the authority index in the block header logs
sp-consensus-babe = {version = "0.10.0-dev", git = "https://github.com/paritytech/substrate" }


async-std = { version = "1.8.0", features = ["attributes", "tokio1"] }
# async-std = { version = "1.9.0", features = ["attributes", "tokio1"] }
env_logger = "0.9.0"
futures = "0.3.13"
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "full", "bit-vec"] }
hex = "0.4.3"
